

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <div class="navbar nav mr-auto">
        <a class="navbar nav-link word-link resume" href={{resume}} target="_blank">Resume</a>
      </div>
      <div class="navbar nav mr-auto">
        <a class="navbar nav-link word-link" href="#projects">Projects</a>
      </div>
      <div class="navbar nav mr-auto">
        <a class="navbar nav-link word-link" href="#experience">Experience</a>
      </div>
      <div class="navbar nav mr-auto">
        <a class="navbar nav-link word-link" href="#about">About</a>
      </div>
      <div class="navbar nav mr-auto">
        <a class="navbar-brand nav-link home-tab" routerLink='/home'>
          <i class="fas fa-home"></i>
        </a>
        <a class="navbar-brand" href={{email}}>
          <i class="fas fa-envelope"></i> 
        </a>
        <a class="navbar-brand" href={{github}} target="_blank">
          <i class="fab fa-github"></i> 
        </a>
        <a class="navbar-brand" href={{linkedIn}} target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
  </nav>
</div>
<div class="container body">
  <router-outlet></router-outlet>
</div>

